.styleAccueil {
 -fx-background-color: blue;
 -fx-background-image: url("newlogo.gif");
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat


}

.choixsave{
 -fx-background-color: blue;
 -fx-background-image: url("bg.png");
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat


}






.game-grid {



}
.game-grid-cell {
    -fx-background-color: white, #b34253 ;
    -fx-background-insets: 0, 0 1 1 0 ;
}
.game-grid-cell-blue {
    -fx-background-color: white, #5766c9 ;
    -fx-background-insets: 0, 0 1 1 0 ;
}
.game-grid-cell.first-row {
    -fx-background-insets: 0, 1 1 1 0 ;
}
.game-grid-cell.first-column {
    -fx-background-insets: 0, 0 1 1 1 ;
}

.game-grid-cell.first-row.first-column {
    -fx-background-insets: 0, 1 0 1 1 ;
}

.game-grid-cell-blue.first-row {
    -fx-background-insets: 0, 1 1 1 0 ;
}
.game-grid-cell-blue.first-column {
    -fx-background-insets: 0, 0 1 1 1 ;
}

.game-grid-cell-blue.first-row.first-column {
    -fx-background-insets: 0, 1 0 1 1 ;
}

.jeuxbg{
 -fx-background-color: blue;
 -fx-background-image: url("bg.png");
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;


}
.pourlestitres{
 -fx-font-size: 24pt;
 -fx-font-family:Verdana, REGULAR;
 -fx-font-weight: Bold;

}
.soustitres{
 -fx-font-size: 16pt;
 -fx-font-weight: Bold;
}

.hoverAccueil:hover {
    -fx-scale-y: 1.1;
    -fx-background-color : none;
    }

.textfieldBack{
    -fx-background-color : #f9f9e3;
}



